{% extends "./govuk-frontend/template.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}

{% block content %}

<form action="/changePassword" method="POST" name="changePasswordForm" >

    {% call govukFieldset({
        legend: {
            text: "Change Password",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
        }
    }) %}

        {{ govukInput({
            id: "_code",
            name: "_code",
            type: "hidden",
            value: _code
        }) }}

        {{ govukInput({
            label: {
                text: "Old Password"
            },
            classes: "govuk-!-width-two-thirds",
            id: "old_password",
            name: "old_password",
            type: "password"
        }) }}

        {{ govukInput({
            label: {
                text: "New Password"
            },
            classes: "govuk-!-width-two-thirds",
            id: "new_password",
            name: "new_password",
            type: "password"
        }) }}

        {{ govukInput({
            label: {
                text: "New Password"
            },
            classes: "govuk-!-width-two-thirds",
            id: "new_password_again",
            name: "new_password_again",
            type: "password"
        }) }}

        {{ govukButton({
            text: "Change Password"
        }) }}

    {% endcall %}
</form>

{% endblock %}
