{% extends "./govuk-frontend/template.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}

{% block content %}

<form action="/changePassword" method="POST" name="changePasswordForm" >

    {% call govukFieldset({
        legend: {
            text: "Profile",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body-l">Please find details here regarding your account</p>

        <p class="govuk-body-l">Organisation</p>

        <p class="govuk-body-l">Email here</p>

        <p class="govuk-body-l">Phone here</p>

        <p class="govuk-body-l">Change password here</p>


        {{ govukButton({
            text: "Change Password"
        }) }}

    {% endcall %}
</form>

{% endblock %}
