{% extends "./govuk-frontend/template.njk" %}

{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}

{% block content %}

<form action="/changePassword" method="POST" name="changePasswordForm" >

    {% call govukFieldset({
        legend: {
            text: "Profile",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body-l">Please find details here regarding your account</p>

        <p class="govuk-body-l">{{ org }}</p>

        <p class="govuk-body-l" id="{{ email }}">{{ email }}</p>

        <p class="govuk-body-l">{{ phone_number }}</p>

        <p class="govuk-body-l">Change password here</p>


        {{ govukButton({
            text: "Change Password",
            href: "/changePassword"
        }) }}

        {{ govukButton({
            text: "Logout",
            href: "/logout"
        }) }}

        {{ govukButton({
            text: "Go to RAV Web",
            href: "https://rav-rave-web.dev.cis.dvla.gov.uk:9000/"
        }) }}
    {% endcall %}
</form>

{% endblock %}
